rofi.opacity: 95
rofi.width: 900
rofi.lines: 12
rofi.columns: 1
rofi.font: PragmataPro 11
rofi.color-normal:                   #222222,#FFFFFF,#222222,#396EB4,#FFFFFF
rofi.color-urgent:                   #222222,#EF2929,#222222,#396EB4,#FFFFFF
rofi.color-window:                   #222222,#396EB4
rofi.bc: #396EB4
rofi.bw: 1
rofi.loc: 0
rofi.padding: 1
rofi.yoffset: -25
rofi.xoffset:
rofi.fixed-num-lines: true
rofi.hmode: false
rofi.terminal: termite
rofi.ssh-command: termite -e '{ssh-client} {host}' --class=ssh
rofi.ssh-set-title: true
rofi.key: F12
rofi.rkey: mod1+F2
rofi.skey: mod1+F3
rofi.sidebar-mode: true
rofi.switchers: window,run,ssh
